.navigation-bar {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
}

#search-bar {
  flex-grow: 1;
  padding: 10px;
  border: none;
  font-size: 16px;
  border-bottom: 1px solid #aaabaf;
  background: #f5f5f5;
}

#search-btn {
  background-color: #1D4F9A;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 20px 10px 10px;
  white-space: nowrap;
}
