<header id="company-header">
  <section class="display-section">
    <section class="display-section">
      <img [src]="imagen" class="login-section" id="header-logo" alt="">
    </section>
  </section>
  <section class="display-section">
    <section class="company-buttons-container">
      <!-- Botones visibles en escritorio -->
      <button class="company-buttons" onclick="redirectToJobListingCompany(event, this)">Job Listing</button>
      <button class="company-buttons" onclick="redirectToVacancyPostCompany(event, this)">Post a job</button>

      <div class="mobile-btn-wrapper">
        <button class="mobile-btn">☰</button>

        <div class="mobile-btn-container">
          <button class="mobile-button" onclick="redirectToJobListingCompany(event, this)">Job Listing</button>
          <button class="mobile-button" onclick="redirectToVacancyPostCompany(event, this)">Post a job</button>
        </div>
      </div>


      <!-- Perfil de usuario -->
      <section class="buttons-section-header">
        <img [src]="imagen"  id="company-header-profile-image" alt="">

        <button class="company-buttons-profile" id="company-profile-button">
          <b class="color-name" id="company-header-name">Company Name</b><br>
          <span id="company-header-email">companyexample.com</span>
        </button>

        <div class="popup-menu" id="popup-menu">
          <button class="popup-btn logout" onclick="redirectToMainPage(event, this)">Log out</button>
        </div>
      </section>
    </section>
  </section>
</header>
