<section class="list-container" id="job-listing-list">
  <table>
    <thead>
    <tr>
      <th class="clickable-th">Vacancy Name</th>
      <th class="clickable-th">Stage</th>
      <th class="clickable-th">Date Posted</th>
      <th class="clickable-th">Due Date</th>
      <th class="clickable-th" (click)="goToFindJobs()">Job Type</th>
      <th class="clickable-th">Applicants</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr class="job-listing-row">
    </tr>
    </tbody>
  </table>
</section>
