<template id="job-listing-template">
  <tr class="job-listing-row">
    <td class="actions-container">
      <img id="vacancy-image" src="../../images/asps.png" alt="Placeholder X">
      <span id="vacancy-name">Vacancy Name</span>
    </td>
    <td><span class="status-tag" id="vacancy-stage">Stage</span></td>
    <td id="vacancy-posted-date">01/01/2000</td>
    <td id="vacancy-due-date">01/01/2000</td>
    <td><span class="status-tag" id="vacancy-job-type">JType</span></td>
    <td id="vacancy-applicants-number">00</td>
    <td class="action-column">
      <div class="button-group">
        <button class="see-profiles" id="vacancy-see-profile-button">See Vacancy</button>
        <button class="more-options">···</button>

        <div class="options-menu">
          <button class="delete-vacancy">Delete</button>
        </div>
      </div>
    </td>
  </tr>
</template>
