<section class="list-container">

  <button class="filters-toggle" (click)="toggleFilters()">Filters</button>

  <div class="overlay" [class.active]="filtersVisible" (click)="closeFilters()"></div>

  <aside class="filter-aside" [class.active]="filtersVisible">
    <button class="close-button" (click)="closeFilters()">✕</button>

    <fieldset>
      <legend>Salary Range</legend>
      <label>
        <input type="radio" name="salary" [(ngModel)]="selectedSalaryRange" [value]="''"> Any
      </label>
      <label>
        <input type="radio" name="salary" [(ngModel)]="selectedSalaryRange" value="0-1000"> $0 - $1000
      </label>
      <label>
        <input type="radio" name="salary" [(ngModel)]="selectedSalaryRange" value="1000-1500"> $1000 - $1500
      </label>
      <label>
        <input type="radio" name="salary" [(ngModel)]="selectedSalaryRange" value="1500-2000"> $1500 - $2000
      </label>
      <label>
        <input type="radio" name="salary" [(ngModel)]="selectedSalaryRange" value="3000+"> $3000 or above
      </label>
    </fieldset>

    <fieldset>
      <legend>Job Type</legend>
      <label><input type="checkbox" [(ngModel)]="selectedJobTypes['Full-Time']"> Full-Time</label>
      <label><input type="checkbox" [(ngModel)]="selectedJobTypes['Half-Time']"> Half-Time</label>
      <label><input type="checkbox" [(ngModel)]="selectedJobTypes['Remote']"> Remote</label>
      <label><input type="checkbox" [(ngModel)]="selectedJobTypes['Internship']"> Internship</label>
      <label><input type="checkbox" [(ngModel)]="selectedJobTypes['Contract']"> Contract</label>
    </fieldset>

    <fieldset>
      <legend>Education</legend>
      <label><input type="checkbox" [(ngModel)]="selectedEducations['Elementary School']"> Elementary School</label>
      <label><input type="checkbox" [(ngModel)]="selectedEducations['Middle School']"> Middle School</label>
      <label><input type="checkbox" [(ngModel)]="selectedEducations['High School']"> High School</label>
      <label><input type="checkbox" [(ngModel)]="selectedEducations['University']"> University</label>
      <label><input type="checkbox" [(ngModel)]="selectedEducations['Master']"> Master</label>
    </fieldset>

    <div class="apply-filters-button">
      <button id="apply-filters" (click)="applyFilters()">Apply Filters</button>
    </div>
  </aside>

  <section class="job-list">
    <h2>All Jobs</h2>

    <div class="job-card" *ngFor="let vacancy of visibleVacancies" (click)="seeVacancy(vacancy.id)">
      <div class="logo">
        <img [src]="vacancy.image || '/assets/asps.png'" alt="Company Logo">
      </div>
      <div class="job-info">
        <h3 class="job-title">{{ vacancy.name }}</h3>
        <p class="job-description">{{ vacancy.description }}</p>
        <p><strong>Salary:</strong> ${{ vacancy.minimumSalary }} - ${{ vacancy.maximumSalary }}</p>
        <p><strong>Type:</strong> {{ vacancy.jobType }}</p>
      </div>
    </div>

    <div class="see-more-button" *ngIf="visibleVacancies.length < filteredVacancies.length">
      <button id="see-more" (click)="showMore()">See more...</button>
    </div>
  </section>
</section>
