<main>
  <section class="father-vacancy">

    <section class="dashboard-vacancy-new">
      <section class="item-vacancy">
        <picture>
          <img id="vacancy-image" [src]="imagen" class="user-image-vacancy" alt="user image">
        </picture>
        <section>
          <h1 class="font-vacancy" id="vacancy-name">Lore ipsum</h1>
        </section>
      </section>

      <section class="button-save">
        <button class="SaveChanges" id="desktopSaveChanges"><b>Save Changes</b></button>
      </section>
    </section>

    <section class="write-space-vacancy">
      <section class="space-write">
        <label for="vacancy-description"></label><textarea readonly placeholder="Enter your requirements for the job position" class="text-user-vacancy" id="vacancy-description"></textarea>
      </section>

      <section class="vacancy-request">
        <h3 class="vacancy-title">About This Role</h3>

        <div class="vacancy-field">
          <h4 class="vacancy-label">Apply Before:</h4>
          <label for="vacancy-apply-before"></label><input readonly type="date" id="vacancy-apply-before" class="vacancy-input">
        </div>

        <div class="vacancy-field">
          <h4 class="vacancy-label">Job Posted On:</h4>
          <label for="vacancy-posted-date"></label><input type="date" id="vacancy-posted-date" class="vacancy-input" readonly>
        </div>

        <div class="vacancy-field">
          <h4 class="vacancy-label">Job Type:</h4>
          <label for="vacancy-job-type"></label><input readonly placeholder="Enter job type" type="text" id="vacancy-job-type" class="vacancy-input">
        </div>

        <div class="vacancy-field">
          <h4 class="vacancy-label">Salary</h4>

          <div class="salary-container">
            <label for="vacancy-min-salary"></label><input readonly placeholder="0" type="text" id="vacancy-min-salary" class="vacancy-input salary-input">
            <span class="salary-unit">$ -</span>
          </div>

          <div class="salary-container">
            <label for="vacancy-max-salary"></label><input readonly placeholder="1200" type="text" id="vacancy-max-salary" class="vacancy-input salary-input">
            <span class="salary-unit">$</span>
          </div>
        </div>
      </section>
    </section>

  </section>

  <section>
    <button class="SaveChanges" id="mobileSaveChanges"><b>Save changes</b></button>
  </section>
</main>
