<h1>{{ title }}</h1>

<button routerLink="/main-page">main-page</button>
<button routerLink="/find-jobs">find-jobs</button>
<button routerLink="/job-listing">job-listing</button>
<button routerLink="/view-job-seeker-profile">view-job-seeker-profile</button>
<button routerLink="/edit-job-seeker-profile">edit-job-seeker-profile</button>
<button routerLink="/sign-in-job-seeker">sign-in-job-seeker</button>
<button routerLink="/sign-in-company">sign-in-company</button>
<button routerLink="/sign-up-job-seeker">sign-up-job-seeker</button>
<button routerLink="/sign-up-company">sign-up-company</button>
<button routerLink="/vacancy-applicants">vacancy-applicants</button>
<button routerLink="/view-vacancy">view-vacancy</button>
<button routerLink="/edit-vacancy">edit-vacancy</button>
<button routerLink="/post-vacancy">post-vacancy</button>

<hr>

<!-- Aquí se carga la vista activa -->
<router-outlet></router-outlet>
