<main class="sign-page-container">
  <nav class="sign-toggle-nav">
    <a class="sign-toggle-button" (click)="goToJobSeekerSignUp()" role="button" tabindex="0">Job Seeker</a>
    <a class="sign-toggle-button active" role="button">Company</a>
  </nav>

  <section class="sign-box">
    <div class="title-text">
      <h1>Expand your company!</h1>
    </div>

    <section class="sign-entry-form">
      <form #signupForm="ngForm" (ngSubmit)="signUp()" id="signup-company">
        <label for="name">Company name</label>
        <input type="text" id="name" placeholder="Enter your company name" [(ngModel)]="companyName" name="companyName" required>

        <label for="email">Email Address</label>
        <input type="email" id="email" placeholder="Enter email address" [(ngModel)]="email" name="email" required>

        <label for="cif-nif">CIF/NIF</label>
        <input type="text" id="cif-nif" placeholder="Enter your CIF/NIF" [(ngModel)]="cifNif" name="cifNif" required>

        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter password" [(ngModel)]="password" name="password" required>

        <label for="password-confirm">Confirm Password</label>
        <input type="password" id="password-confirm" placeholder="Repeat the password" [(ngModel)]="confirmPassword" name="confirmPassword" required>

        <button type="submit" class="submit-button" role="button" tabindex="0" [disabled]="signupForm.invalid">
          Sign up
        </button>
      </form>
    </section>

    <div class="bottom-text">
      <p>Already have an account? <a (click)="goToCompanySignIn()" role="link" tabindex="0">Login</a></p>
    </div>
  </section>
</main>
