<main class="sign-page-container">
  <nav class="sign-toggle-nav">
    <a class="sign-toggle-button active" role="button">Job Seeker</a>
    <a class="sign-toggle-button" (click)="goToCompanySignUp()" role="button" tabindex="0">Company</a>
  </nav>

  <section class="sign-box">
    <div class="title-text">
      <h1>Find a job!</h1>
    </div>

    <section class="sign-entry-form">
      <form #signupForm="ngForm" (ngSubmit)="signUp()" id="signup-user">
        <label for="name">Full name</label>
        <input type="text" id="name" placeholder="Enter your full name" [(ngModel)]="fullName" name="fullName" required>

        <label for="email">Email Address</label>
        <input type="email" id="email" placeholder="Enter email address" [(ngModel)]="email" name="email" required>

        <label for="phone-number">Phone number</label>
        <input type="tel" id="phone-number" placeholder="Enter phone number" [(ngModel)]="phoneNumber" name="phoneNumber" required>

        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter password" [(ngModel)]="password" name="password" required>

        <label for="password-confirm">Confirm Password</label>
        <input type="password" id="password-confirm" placeholder="Repeat the password" [(ngModel)]="confirmPassword" name="confirmPassword" required>

        <button type="submit" class="submit-button" role="button" tabindex="0" [disabled]="signupForm.invalid">
          Sign up
        </button>
      </form>
    </section>

    <div class="bottom-text">
      <p>Already have an account? <a (click)="goToJobSeekerSignIn()" role="link" tabindex="0">Login</a></p>
    </div>
  </section>

  <p *ngIf="errorMessage" style="color:red;">{{ errorMessage }}</p>
</main>
