<main class="sign-page-container">
  <nav class="sign-toggle-nav">
    <a href="#" class="sign-toggle-button active">Job Seeker</a>
    <a href="#" onclick="redirectToCompanySignUp(event, this)" class="sign-toggle-button">Company</a>
  </nav>

  <section class="sign-box">
    <div class="title-text">
      <h1>Find a job!</h1>
    </div>

    <section class="sign-entry-form">
      <form id="signup-user">
        <label for="name">Full name</label>
        <input type="text" id="name" placeholder="Enter your full name" required>

        <label for="email">Email Address</label>
        <input type="email" id="email" placeholder="Enter email address" required>

        <label for="phone-number">Phone number</label>
        <input type="tel" id="phone-number" placeholder="Enter phone number"
               pattern="^\+?[0-9]{9,15}$"
               title="Enter a valid phone number (9-15 digits, with optional + at the beginning)"
               required>


        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter password" required minlength="8">

        <label for="password-confirm">Confirm Password</label>
        <input type="password" id="password-confirm" placeholder="Repeat the password" required>

        <button type="submit" class="submit-button">Sign up</button>
      </form>
    </section>

    <div class="bottom-text">
      <p>Already have an account? <a href="#" onclick="redirectToJobSeekerSignIn(event, this)">Login</a></p>
    </div>
  </section>
</main>
