<header id="main-header">
  <section class="display-section">
    <section  class="display-section">
      <img src="/assets/asps.png" class="login-section" id="header-logo" alt="logotype">
    </section>
  </section>
  <section class="display-section">
    <section class="buttons-main-page-section">
      <button class="buttons-main-page" onclick="redirectToJobSeekerSignIn(event, this)">Login</button>
      <button class="buttons-main-page" onclick="redirectToJobSeekerSignUp(event, this)"> Sign Up</button>
    </section>
  </section>
</header>
